.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;   
}
.logo{
    display: flex;
}
.up{
    color: white;
}
.div_logo{
    display: flex;
    justify-content: center;
    width: 54px;
    height: 49px;
    background-color: #7CF564;
    border-radius: 6px;
}