@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

body {
    background-color: #F7F7F7;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 600;
    font-size: 16px;
}



input{
    outline: none;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

input::placeholder{
    color: #AAAAAA90;
    font-family: 'Schibsted Grotesk', sans-serif;
    font-weight: 700;
    font-size: 16px;
}


.form_fields{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form_field input{
    height: 50px;
    border: none;
    width: 50px;
    text-align: center;
}

.form_field select{
    height: 52px;
    border: none;
}

.form_field:nth-of-type(1) input{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: 3px solid #edededcc;
    width: 330px;
    text-align: start;
    padding-left:50px;
}


.form_field:nth-of-type(3) input{
    width: 50px;
    border-right: 3px solid #edededcc;
}


.form_field:nth-of-type(5) input{
    width: 50px;
    border-right: 3px solid #edededcc;
}

.form_field:nth-of-type(6) select{
    width: 150px;
    border-right: 3px solid #edededcc;
}

.form_field:nth-of-type(7) select{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100px;
}

.separate{
    background-color: white;
    color: #AAAAAA90;
    height: 52px;
    line-height: 300%;
}

.button{
    background-color: #5FB74D;
    color: white;
    width: 126px;
    height: 40px;
    border-radius: 15px;
    border: none;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: bold;
    margin-left: 62px;
    cursor: pointer;
}

.button:hover{
    background-color: #4ba439;
}