.formContainer{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 85px;
}

.formContainer h1{
    font-size: 96px;
    margin-top: 60px;
}


.form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 520px;
    background-color: #F5F5F5;
    border-radius: 40px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}



.form input{
    border: none;
    outline: none;
    background-color: #FFFFFF;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
}

::placeholder{
    text-align: center;
    color: #A6ABB9;
    font-size: 15px;
}

.form button{
    border: none;
    outline: none;
    background-color: #5FB74D;
    width: 140px;
    height: 56px;
    border-radius: 16px;
    color: #FFFFFF;
    font-size: 16px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.text > *{
    margin: 0;
}

.text p{
    font-size: 16px;
    margin-top: -20px;
}