@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

.logo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.logo > *{
    margin: 0;
    font-family: 'Schibsted+Grotesk',sans-serif;
    font-weight: 800;
}

.logo p{
    font-size: 17px;
    margin-top: -20px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.logo h1{
    font-size: 96px;
    height: 125px;
}

.div_logo{
    width: 50px;
    height: 80px;
    color: white;
    background-color: #7CF564;
    border-radius: 6px;
}