.calendar{
    display: flex;
    flex-wrap: wrap;
    width: 432px;
    height: 166px;
}

.day{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}
.days_week{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.empty_day{
    width: 60px;
    height: 60px;
    background-color: white;
}

.day:hover{
    background-color: #5FB74D;
    color: white;
}

.days{
    display: flex;
    background-color: white;
}

.arrow{

    width: 20px;
    height: 20px;
}