.clockNumberGroup{
    cursor: pointer;

}

.clock {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    margin: 50px;
    background-color: #7CF564;
  }
  
  .clockNumber {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: white;
    transform: translate(-50%, -50%); /* Wyśrodkowanie liczby */
  }