.formContainer{
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 85px;
}

.formContainer h1{
    font-size: 96px;
    margin-top: 60px;
}


.form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 520px;
    background-color: #F5F5F5;
    border-radius: 40px;
    gap: 35px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fields{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.buttons{
    display: flex;
    gap: 10px;
}

.form_input{
    position: relative;
}

.form_input input{
    border: none;
    outline: none;
    background-color: #FFFFFF;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
}

::placeholder{
    text-align: center;
    color: #A6ABB9;
    font-size: 15px;
}



.login{
    border: none;
    outline: none;
    background-color: #5FB74D;
    width: 140px;
    height: 56px;
    border-radius: 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 600;
}

.logo{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 65px;
}

.logo > *{
    margin: 0;
}

.logo p{
    font-size: 16px;
    margin-top: -20px;
}

.text{
    width: 260px;
    text-align: center;
}


.error{
    position: absolute;
    top:59px;
    color: red;
}
